<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class"nav">
               <ul class="navbar">
                    {{#if logged_in}}
                      <li><a class="link" href="/">Home</a></li>
                      <li><a class="link" href="/dashboard">Dashboard</a></li>
                      <li><button class="no-button" id="logoutbtn">Logout</button></li>
                    {{else}}
                      <li><a href="/login">Login</a></li>
                    {{/if}}
                  </ul>  
                  </nav>        
          </div>
          <h1 class="app-title"><i class="fab "></i>The Tech Blog</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>