
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{>dashboardpostinfo post}}
        {{/each}}
</section>


<button type="submit" class="btn"><a class="link" href="/dashboard/newpost">New Post</a></button>

